.List {
  max-height: 90vh;
  overflow: auto;
}

.ListLabel {
  font-style: italic;
}

.ListLabel.Active {
  background-color: lightblue;
}

.ListLabel.Trashed {
  background-color: lightgray;
}

.NoTodos {
  font-style: italic;
  color: gray;
}
