.List {
  max-height: 90vh;
  overflow: auto;
}

.ListLabel {
  font-style: italic;
  padding: 0px 4px;
}

.ListLabel.ForToday {
  background-color: lightskyblue;
}

.ListLabel.Queued {
  background-color: lightblue;
}

.ListLabel.Trashed {
  background-color: lightgray;
}

.NoTodos {
  font-style: italic;
  color: gray;
}
