:root {
  --quadrant-indictor-border-color: lightgray;
  --quadrant-indictor-background-color: rgba(211, 211, 211, 0.24);
}

.TodoItem {
  width: 100%;
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  margin: 4px 0px;

  background-color: #fff;

  display: flex;
  align-items: center;
}

.TodoItem:first-child {
  margin-top: 4px;
}

.TodoItem.Completed {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
  transition: 0.1s ease-in;
}

.TodoItem.Completed:hover {
  opacity: 0.8;
}

.TodoItem input,
.TodoItem textarea {
  flex: 1;
  padding: 2px 6px;
  border-radius: 5px;
  border: none;
}

.TodoItem input:focus,
.TodoItem textarea:focus {
  /* outline: none; */
}

.QuadrantIndicator {
  flex-shrink: 0;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: move;
}

.QuadrantIndicator .QuadrantGroup {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QuadrantIndicator .QuadrantGroup .Quadrant {
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  width: 50%;
  height: 100%;
  background-color: var(--quadrant-indictor-background-color);
}

/* .Quadrant.Second {
  border-right-color: var(--quadrant-indictor-border-color) !important;
}

.Quadrant.First {
  border-bottom-color: var(--quadrant-indictor-border-color) !important;
}

.Quadrant.Third {
  border-top-color: var(--quadrant-indictor-border-color) !important;
}

.Quadrant.Fourth {
  border-left-color: var(--quadrant-indictor-border-color) !important;
} */
