.navbar-brand {
  position: relative;

  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 1.8rem;
  margin-right: 0.25rem;
}

.BetaBadge {
  position: absolute;
  top: 0;
  right: -0.8rem;
  font-size: 0.6rem;
  font-weight: 300;
  opacity: 0.9;
}
