.Block {
  /* border: 1px solid lightgray; */
  /* border-radius: 5px; */
  width: 100%;

  padding: 0.5rem 0.5rem;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.TodoList {
  min-height: 200px;
  max-height: 35vh;
  overflow: auto;
}

.NewTodoContainer {
  /* border-top: 1px solid rgba(137, 43, 226, 0.274); */
  padding: 8px 0px 2px 0px;
  margin-top: 8px;
}

.NewTodoContainer .AddButton {
  cursor: pointer;
}

.FirstQuadrant {
  background-color: #dde253be;
}

.SecondQuadrant {
  background-color: #89e360be;
}

.ThirdQuadrant {
  background-color: #f7f6b2be;
}

.FourthQuadrant {
  background-color: #f1efdabe;
}
