.AuthContainer {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
