.Row {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.SubRow {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.BlockWrapper {
  width: 50%;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col .col-12 .col-10 {
  padding: 6px;
}

.Label {
  flex-shrink: 0;
  font-weight: bold;
}

.HorizontalLabel {
  writing-mode: horizontal-tb;
}

.VerticalLabel {
  flex-shrink: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  text-align: center;
}

.High {
  opacity: 1;
}

.Low {
  opacity: 0.5;
}

.ToggleListButton {
  width: 100%;
  text-align: right;
  cursor: pointer;
  font-size: 0.9rem;
  font-style: italic;
  user-select: none;
}
