.row {
}

.col {
  padding: 6px;
}

.BlockWrapper {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Label {
  font-weight: bold;
}

.HorizontalLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.VerticalLabel {
  flex-shrink: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  padding-left: 4px;
  padding-right: 4px;
}

.High {
  opacity: 1;
}

.Low {
  opacity: 0.5;
}
